<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <hr>
    <form  th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выйти"/>
    </form>
    <hr>
    <a href="/admin/new">Добавить пользователя</a>
    <hr>
    <table th:border="3" th:cellpadding="5">
        <tr>
            <th>Имя</th>
            <th>Роли</th>
            <th>Действие</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Имя</td>
            <td>
                <span th:each="role : ${user.roles}">
                    <span th:text="${role.name}"></span>
                </span>
            </td>
            <td>
                <form th:method="POST" th:action="@{/admin/delete?id={id}(id=${user.id})}" style="display: inline">
                    <input type="submit" value="Удалить">
                </form>
                <a th:href="@{/admin/edit?id={id}(id=${user.id})}">
                    <button>Изменить</button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>