<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
    <form  th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выйти"/>
    </form>
    <hr>
    <form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
        <table th:border="0" th:cellpadding="3">
            <tr>
                <td>Имя: </td>
                <td><input type="text" th:field="*{username}"/></td>
            </tr>
            <tr>
                <td>Пароль: </td>
                <td><input type="text" th:field="*{password}"/></td>
            </tr>
            <tr>
                <label>Роли:
                    <input type="checkbox" name="roles"
                           th:each="role : ${allRoles}"
                           th:text="${role.name}"
                           th:value="${role.id}"
                           th:field="*{roles}"
                    />
                </label>
            </tr>
        </table>
        <br/>
        <input type="submit" value="Добавить">
    </form>
</body>
</html>